/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* h1見出し */
h1 {
/*  color: #ffffee;/* フォントの色 */
/*  font-size: 90px;/* フォントの大きさ */
/*  font-family: lobster;/* フォントの種類 */
/*  border-style: solid;/* 線の種類 */
/*  border-color: orange;/* 線の色 */
/*  border-width: 10px;/* 線の太さ */
/*  text-align: center;/* 文字・画像を中央にそろえる */
/*  border-radius: 90px;/* 枠線の角丸 */
/*  padding: 20px;/* 内側の余白 */
/*  margin: 30px;/* 外側の余白 */
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  background-image: url(ホーム画面.jpg);/* 背景画像 */
  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
  background-size: cover;
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #ffffee;/* 背景の色 */
  color: #663300;
  padding: 30px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
}

/* 画像 */
.shop img {
  float: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 30px;
  background-image: url(木目.jpg);
}

/* h2見出し */
.photo h2 {
  color: #000000;
  border-color: #00ff00
}

/* h3見出し */
.photo h3 {
  color: #000000;
  border-color: #00ff00;
}

/* 段落 */
.photo p {
  color: #ffffff;
  clear: left;/* 画像や箱の回り込みをやめる */
}

.photo div {
  background-color: #ffffff;
  width: 240px;/* 横幅を指定する */
  padding: 15px;
  float: left;
  margin: 10px;
  box-shadow: 10px 10px 20px #000000;/* 影を指定する */
}
